version: '3.8'

services:
  postgres:
    image:  postgres:latest 
    container_name: car-rental-postgres
    restart: always
    environment:
      POSTGRES_USER: car
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: car_rental
    ports:
      - '6000:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - car-rental-network


  redis:
    image: redis:7.0
    container_name: car-rental-redis
    restart: always
    ports:
      - '6380:6379'
    volumes:
      - redis_data:/data
    networks:
      - car-rental-network


  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: car-rental-zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - '2181:2181'
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_logs:/var/lib/zookeeper/log
    networks:
      - car-rental-network


  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: car-rental-kafka
    restart: always
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
      - '29092:29092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - car-rental-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: car-rental-kafka-ui
    restart: always
    depends_on:
      - kafka
    ports:
      - '8080:8080'
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - car-rental-network

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: car-rental-redis-commander
    restart: always
    depends_on:
      - redis
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - '8081:8081'
    networks:
      - car-rental-network


  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: car-rental-pgadmin
    restart: always
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - car-rental-network

volumes:
  postgres_data:
  redis_data:
  zookeeper_data:
  zookeeper_logs:
  kafka_data:
  pgadmin_data:

networks:
  car-rental-network:
    driver: bridge